@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
/* Font */

/* Reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.light-grey {
  color: #3a3d48;
}

.lighter-grey {
  color: #a7a7a7;
}

.fs-13 {
  font-size: 13px;
}

.fs-15 {
  font-size: 15px;
}

.fw-200 {
  font-weight: 200;
}

.fw-500 {
  font-weight: 400;
}

/* .testing {
  font-size: 62.5%;
}

.testing body {
  font-size: 1.6rem;
}

.testing .navbar a, 
.testing .navbar button {
  font-size: 1.6rem;
}

.testing .navbar a {
  margin: 0 1rem;

} */

/* .testing .navbar .dropdown-item {
  margin: 0;
}

.testing .navbar button {
  font-size: 1.8rem;
} */

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  background-color: #f5f5f5;
}

/* Reset */

/* utilities */

.containerA {
  max-width: 1200px;
  margin: 0 auto;
  padding-right: 2rem;
  padding-left: 2rem;
}

.txt-center {
  text-align: center;
}

.fw-300A {
  font-weight: 300;
}

.fw-600A {
  font-weight: 600;
}

.fw-700A {
  font-weight: 700;
}

.pY-3 {
  padding: 3rem 0;
}

.my-10 {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.ms-8 {
  margin-left: 8rem;
}

.w-fix {
  width: 100%;
}

@media (min-width: 992px) {
  .w-fix {
    width: 75%;
  }
}

.bg-blackA,
.btn-blackA {
  background: #434f62;
  color: #fff;
}

.btn-blackA:hover {
  background: #2d3542;
}

.btn-greenA {
  background: #6aac0e;
  color: #fff;
}

.btn-greenA:hover {
  background: #74c109;
  color: white;
}

.rounded-1A {
  border-radius: 10px;
}

.obj-cover {
  object-fit: cover;
}

.c-grey {
  color: #777;
}

.c-green {
  color: #72b00f;
}
/* utilities */

/* Components */

.btnA {
  border: none;
  padding: 1rem 3rem;
  border-radius: 4px;
  font-weight: 600;
  /* height: 5rem; */
  font-size: 1.8rem;
  display: inline-block;
  text-decoration: none;
}

.box-benefitsA {
  text-align: center;
  padding: 0 2rem;
  text-decoration: none;
  padding: 3rem 0;
}

.box-benefitsA.hover:hover {
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}

.box-benefitsA img {
  height: 11rem;
}

.box-benefitsA h2 {
  color: #3a3d48;
}

.lineA {
  padding: 0 2rem;
  border-bottom: 1px solid #eaeaea;
  margin: 10rem 0;
  position: relative;
}

.lineA::after {
  content: "";
  position: absolute;
  border: 1px solid #eaeaea;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Components */

/* HeaderA */

.headerA {
  background: url(/images/demo-account-mobile-bg.jpg) no-repeat center center /
    cover;
  height: 100vh;
  color: white;
}

.headerA .contentA {
  padding: 0 2rem;
  text-align: center;
  padding-top: 10%;
}

.headerA .contentA h2 {
  font-size: 3.2rem;
}

.headerA .containerA h2 span {
  display: block;
  font-weight: 300;
}

.headerA .contentA h3 {
  font-size: 2.2rem;
  margin: 3rem 0;
}
/* HeaderA */

/* benefits */
.benefitsA .contentA {
  display: grid;
  grid-template-columns: 30rem;
  justify-content: center;
  gap: 5rem;
  padding-top: 5rem;
}
/* benefits */

/* confidence */
.confidenceA .contentA .info .box {
  text-align: center;
}

.confidenceA .contentA .info .box h2 {
  margin: 3rem 0;
  font-size: 2.4rem;
}

.confidenceA .contentA .info .box h3 {
  margin: 3rem 0;
  font-size: 1.4rem;
}

.confidenceA .contentA .info .list {
  font-weight: 300;
}

.confidenceA .contentA .info .list.list-none {
  list-style: none;
}

.confidenceA .contentA .info .list.list-circle li::marker {
  color: #6aac0e;
}

.confidenceA .contentA img {
  width: 100%;
}
/* confidence */

/* Trade */
.trade {
  text-align: center;
}

.trade h2 {
  font-size: 2.4rem;
}

.trade h2 span {
  font-weight: 300;
}

.trade h3 {
  margin: 2rem 0;
}

.trade .contentA {
  display: grid;
  grid-template-columns: repeat(auto-fit, 25rem);
  grid-auto-rows: 20rem;
  align-items: center;
  justify-content: center;
}

.trade .contentA .box-benefitsA img {
  height: 7rem;
}
/* Trade */

/* faq */
.faq h2 {
  font-size: 2.4rem;
}

.faq .contentA {
  margin-top: 5rem;
}

.faq .accordion-button {
  font-size: 1.8rem;
}
/* faq */

.contentA {
  max-width: 800px;
  margin: 0 auto;
}

@media (min-width: 800px) {
  .headerA {
    display: flex;
    align-items: center;
    background: url(./images/demo-account-desktop-bg.jpg) no-repeat right center /
      cover;
    height: 60rem;
  }

  .headerA .contentA {
    text-align: start;
    width: 50%;
    margin: 0 10%;
  }

  .headerA .contentA h2 {
    font-size: 4rem;
  }

  .headerA .contentA h2 span,
  .trade h2 span {
    font-weight: 700;
  }

  .headerA .contentA h3 {
    font-size: 2.8rem;
  }

  .benefitsA .contentA {
    grid-template-columns: repeat(3, 1fr);
  }

  .benefitsA .contentA .box-benefitsA img,
  .trade .contentA .box-benefitsA img {
    height: 12.5rem;
  }

  .benefitsA .contentA .box-benefitsA h2 {
    margin: 2rem 0;
  }

  .confidenceA .contentA {
    display: flex;
    overflow: hidden;
  }

  .confidenceA .contentA .info {
    flex: 0 0 40%;
  }

  .confidenceA .contentA .info .box,
  .confidenceA .contentA .info .txt-center {
    text-align: start;
  }

  .lineA {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 10rem;
    margin-bottom: 10rem;
  }

  .contentA {
    max-width: 1200px;
  }

  .flex-reverse {
    flex-direction: row-reverse;
  }

  .trade .contentA {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* css of trading page */

.market-etoro {
  background: #7cce67;
}

.get-to-know {
  background-image: url("../img/banner-bottom.jpg");
  background-repeat: no-repeat;
  background-position: center center;
}

.menu-i-hov:hover {
  background-color: #f1ecec;
}

.menu-i-hov {
  padding: 10px 0;
}
.navbar-back {
  background-color: #ffffff;
  padding: 0 0;
}

@media (min-width: 768px) {
  .trading-header {
    padding-left: 9rem;
    padding-top: 6rem;
  }
}

/* code Footer */
/* Container */
.container-content {
  max-width: 1090px;
  margin: auto;
}

/* Font Weights */
.fw-300 {
  font-weight: 300;
}

/* Font Sizes */
.fs-9 {
  font-size: 0.9rem;
}

.fs-sm-sm {
  font-size: 1.2rem;
}

.fs-sm {
  font-size: 1.4rem;
}

.fs-md {
  font-size: 2.2rem;
}

.fs-md-big {
  font-size: 2.4rem;
}

.fs-big {
  font-size: 3.4rem;
}

.fs-8 {
  font-size: 0.8rem;
}

.fs-085-em {
  font-size: 0.85em;
}

.fs-2-em {
  font-size: 2em;
}

/* Colors */
.light-grey-content {
  color: rgba(255, 255, 255, 0.5);
}
.text-white-medium {
  color: rgba(255, 255, 255, 0.815);
}

.links-color {
  color: #3f9adc;
}

/* Backgrounds */
.bg-light-grey {
  background: #3d404a;
  color: #f6f6f6;
}

/* Hover Links */
.facebook-hover:hover {
  color: #4267b2;
}

.instagram-hover:hover {
  color: #bc2a8d;
}

.youtube-hover:hover,
.c-red {
  color: #ff0000;
}

.twitter-hover:hover {
  color: #1da1f2;
}

.linkedin-hover:hover {
  color: #0077b5;
}

/* platform */

/* platform header */
.market-etoro-platform-header {
  min-height: 700px;
  background-image: url("images/header_bg_platform.jpg");
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
}

.platform-header-1 p {
  padding-top: 3rem;
  color: white;
  text-transform: uppercase;
  font-size: medium;
}

.platform-header-1 h1 {
  color: white;
  font-weight: bolder;
  font-size: 4.5rem;
  margin-bottom: 3rem;
}

.platform-header-1 h3 {
  color: white;
  margin-bottom: 3rem;
  font-size: 2rem;
  line-height: 3rem;
}

.platform-header-1 a {
  /* margin-bottom: 2rem; */
  color: rgb(184, 182, 182);
  text-transform: uppercase;
}

/* platform join etoro */

.platform-join-wrapper {
  max-width: 370px;
  margin: 0 auto;
  /* padding: 3rem 0; */
  margin-bottom: 3rem;
  /* box-shadow: -2px 4px 10px -4px rgba(0,0,0,0.75);
  -webkit-box-shadow: -2px 4px 10px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: -2px 4px 10px -4px rgba(0,0,0,0.75); */
  /* border: hsla(217, 12%, 71%, 0.301) solid 3px; */
  border: none;
}

.platform-join-wrapper a {
  padding: 0;
  display: block;
  /* border: solid 2px blue; */
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.platfom-join-img {
  margin: 0 auto;
  display: block;
  height: 15rem;
  width: 15rem;
}

.platfom-join-img-1 {
  background-image: url("images/platform-1.svg");
}
.platfom-join-img-2 {
  background-image: url("images/platform-2.svg");
}
.platfom-join-img-3 {
  background-image: url("images/platform-3.svg");
}
.platfom-join-img-4 {
  background-image: url("images/platform-4.svg");
}
.platfom-join-img-5 {
  background-image: url("images/platform-5.svg");
}
.platfom-join-img-6 {
  background-image: url("images/platform-6.svg");
}

.platform-join-text {
  color: black;
}

@media (min-width: 768px) {
  .platform-join-wrapper {
    transition: all 0.5s;
    border: hsla(217, 12%, 71%, 0.301) solid 3px;
  }

  .platform-join-wrapper:hover {
    border: hsla(217, 12%, 71%, 0.747) solid 3px;
  }

  .platform-join-wrapper a {
    padding: 3rem 0;
  }

  .market-etoro-platform-header {
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 77%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 77%, 0% 100%);
  }
}

/* platform-multi-asset */

.platform-multi-asset {
  /* border: 2px solid blue; */
  min-height: 560px;
}

.platform-multi-asset-img {
  /* background-image: url('images/platform-multiasset.jpg');
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  height: 860px; */
}

.platform-multi-asset-img img {
  /* width: 100%; */
}

.platform-carrousel {
  background-color: #3f4653;
  /* height: 100px; */
}

.platform-carouse-icon-hover {
  background-color: #444958;
  border-bottom: 2px solid #00a5ee;
  color: #00a5ee;
}

.b-icon:hover {
  background-color: #444958 !important;
  color: #00a5ee !important;
}

/* ############################## */
/* code of home etoro */

.home-etoro-header {
  /* background-image: url("images/header_bg_platform.jpg"); */
  background-image: url("//marketing.etorostatic.com/cache1/hp/v_242/images/hp_cover_202101/slider_top/slide_1_bg.jpg");
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  height: 75vh;
  overflow: hidden;
}

.home-etoro-header-cols {
  padding-top: 15%;
}

.home-etoro-header-cols-2 {
  padding-top: 5%;
}

.nav-tabs > li {
  flex: 1;
}

.nav-tabs > li .active {
  border-bottom: 2px solid #6aac0e !important;
  color: #6aac0e !important;
  font-weight: bold;
}

.home-etoro-header-h3 {
  /* padding-right: 50px; */
  width: 75%;
}

.home-etoro-header-h2 {
  width: 75% !important;
}

.home-banner {
  background-color: #393e54;
}

@media (min-width: 992px) {
  .cripto-cards {
    margin-top: -20% !important;
  }
}

@media (min-width: 768px) {
  .home-etoro-header {
    height: 95vh;
  }
}

@media (min-width: 576px) {
  .home-etoro-header-h3 {
    /* padding-right: 50px; */
    width: 88%;
  }

  .home-etoro-header-h2 {
    width: 88% !important;
  }
}

@media (max-height: 702px) {
  .home-etoro-header-cols {
    /* align-self: flex-start !important; */
    padding-top: 10%;
    width: 100% !important;
  }

  .home-etoro-header-h3 {
    /* padding-right: 50px; */
    width: 72%;
  }

  .home-etoro-header-h2 {
    width: 72% !important;
  }

  .home-etoro-header-h2 {
  }
}

@media (max-height: 585px) {
  .home-etoro-header-cols {
    /* align-self: flex-start !important; */
    padding-top: 0%;
    width: 100% !important;
  }

  .home-etoro-header-h3 {
    /* padding-right: 50px; */
    /* width: 88%; */
    /* font-size: 1.5rem !important; */
  }

  .home-etoro-header-h2 {
    /* width: 88% !important; */
    /* font-size: 2rem; */
  }
}

@media (max-height: 420px) {
  .home-etoro-header-cols {
    /* align-self: flex-start !important; */
    padding-top: 0%;
    width: 100% !important;
  }

  .home-etoro-header-h3 {
    /* padding-right: 50px; */
    /* width: 88%; */
    font-size: 1.5rem !important;
  }

  .home-etoro-header-h2 {
    /* width: 88% !important; */
    font-size: 2rem;
  }
}

/* Discover Section */

.discoverA > .d-flex > div:first-child {
  flex: 0 0 40%;
}
@media (min-width: 997px) {
  .discoverA > .d-flex > div:last-child {
    flex: 0 0 50%;
  }
}

.discoverA .boxA {
  border-radius: 1rem;
  overflow: hidden;
}

.discoverA .boxA img {
  height: 15rem;
  width: 15rem;
  object-fit: cover;
}

.discoverA .boxA .body ul {
  list-style: none;
}

.discoverA .boxA .body .box-border {
  border-left: solid 1px #ededed;
  padding-left: 10%;
  height: 100%;
}

.discoverA .boxA .body .numberA {
  border: 3px solid yellow;
  color: yellow;
  padding: 0 1rem;
}

.discoverA .stadistic ul {
  list-style: none;
}

.discoverA .stadistic img {
  flex: 0 0 40%;
  object-fit: cover;
}

.discoverA .stadistic ul li h3 {
  list-style: none;
  font-size: 3.85em;
}
/* Discover Section */

/* slider */
.slider .boxA {
  height: 300px;
}

.slider .boxA .body {
  margin: 0 20px;
  padding: 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0 1.2rem black;
  border-radius: 1rem;
}

.slider .boxA .body > p {
  margin-bottom: auto;
}

.slider .boxA .body > div {
  display: flex;
  gap: 1rem;
  height: 50px;
}

.slider .boxA .body div p {
  margin: 0;
}

.slider .boxA .body > div > img {
  height: 50px;
  width: 50px;
}

.slider .boxA .body ul {
  list-style: none;
  padding: 0;
}

.slider .boxA .body > div i {
  color: rgb(209, 209, 74);
  font-size: 2rem;
}
/* Slider */
